<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/types/css/base16.monokai.light.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<style type="text/css">
  body, code {
      font-family: "Roboto Mono", monospace;
      font-size: 1.5rem;
  }
  body {
      padding: 90px;
  }
  </style>
    <title>Algorithm W in Clojure</title>
  </head>
  <body style="background-color: #f8f8f8">
    {{ content }}
  </body>
</html>
